@import url(../css/fonts.css);
html,body{
    margin:0%;
    box-sizing: border-box;
    overflow-x:hidden;
}

:root{

    /*Theme colors*/
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white: #ffffff;
    --midnight:#104f55;

    /* Gradient color  */

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*---------theme font-family--------*/
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic', cursive;
}

/*-------------------------Global Classes-----------------------*/
a{
    text-decoration: none;
    color:var(--text-gray);
    
    
}
.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 ul{
     list-style-type: none;
 }
 h1{
    font-family: var(--Abel);
    font-size:6.5rem;
    
   
}

h3{
    font-family: var(--Abel);
    font-size: 1.7rem;
    
}

h2{
    font-family: var(--Lexend);
}

span{
    font-family: var(--Abel);
    margin: 1rem;
    align-content: left;
    
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding:1rem 3rem;
    font-size:1rem;
    font-family: var(--Abel);
    cursor: pointer;
    color:#4895ef;
    
    
    
}
.container{
    margin: 0 5vw;
}
p{
    font-family: var(--Lexend);
    color: var(--text-light);
}





/*------------x-------------Global Classes-------x------------*/

/*--------------------------navBar----------------------*/

.nav{
    background:white;
    padding:0rem 0rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    /* when click the toggle menu diplay down one by one*/
    transition: height 1s ease-in-out;
    
    
    
    }

    .nav .nav-menu{
        justify-content: space-between;
        
       
    }
/*-------------collapse-----------*/
    .nav .toggle-collapse{
        position:absolute;
        top:0%;
        width:90%;
        cursor: pointer;
        display:none;
    }

    .nav .toggle-collapse .toggle-icons{
        display:flex;
        justify-content: flex-end;
        padding: 1.7rem 0;
    }

    .nav .toggle-collapse .toggle-icons i{
        font-size: 1.4rem;
        color: var(--text-gray)
    }

    .collapse{
        height: 30rem;
    }
    /*------x-------collapse------x-----*/
    
    .nav .nav-items{
        display:flex;
        margin:0;
        
    }

 
    .nav .nav-items .nav-link{
        padding:1.6rem 1rem;
        font-size: 1.1rem;
        position:relative;
        font-family:var(--Josefi);
        font-size: 1.1rem;
        
        
    }

    /*------when mouse click navigation items, change bg color-----*/ 
    .nav .nav-items .nav-link:hover{
        background-color: #4895ef;
    }
        /*----whwhen mouse click navigation items change text color(white)-----*/
    .nav .nav-items .nav-link:hover a{
        color: var(--white);
    }
/*-------x----when mouse click navigation items, change bg color-------x-----*/

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    color:var(--white);
    display: block;
    font-family:var(--Lexendl);
    font-size:1.6rem;
    
}



    .logo{
        position:absolute;
        top: 0px;
        margin-top: .5rem;
        margin-left: 1rem;
    }

/*-------------x-------------navBar-------------x---------*/


/*--------------------------Main Content-----------------*/

    /*-------------Site Title----------------*/
    main .site-title{
        background:url("../assets/Newsedit.png");
        background-size: cover;
        
        /*--center title--*/
        display:flex;
        justify-content: center;
    }

    main .site-title .site-background{
        /**title padding**/
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        color:var(--white);
    }

    main .site-title h1, h3{
        margin:.1rem;
    }

   

    /*------x-------Site Title------x----------*/

    /*-----------------Blog Carousel------------------*/

    main .blog{
        background: url("../assets/Abract0.png");
        background-repeat: no-repeat;
        background-position: right;
        height: 100vh;
        width: 100%;
        background-size: 65%;
    }
    main .blog .blog-post{
        padding-top: 6rem;
    }
    main .blog2 .blog-post{
        
        position:relative;
        top:-80px;
    }

    main .blog-post .blog-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin:3rem 2rem;
        background-color:#f8f9fa;
        
        border-radius: 8px;
        border: 1px solid #E8EEE4; 
        transition-duration: 0.3s; 
    }
    main .blog-post .blog-content span{
        text-align: left;
        justify-content: center;
    }

    main .blog-content .blog-title{
        padding: 2rem 0;
    }
     main .blog-content .btn-blog{
        padding: .5rem 2rem;
        margin: .2rem;   
     }
     
    main .blog-content span{
        display: block;
        
    }
    .blog2 .blog-content .blog-title{
        margin: 0rem .2rem;
    }
    

    

    /*--when mouse come to box, it change color*/
    main .blog-post .blog-content h3:hover{
        /*text color*/
        color:#4895ef;  
    }
    main .blog-post .blog-content:hover{
        box-shadow: 1px 3.5px 8px 4px rgba(154, 159, 151, 0.2);
        

    }
    /* --button---*/

    .btn-blog:hover{
        
        box-shadow: 0 8px 12px rgba(154, 159, 151, 0.2);
        
        
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        
        
    }
    .blog-title :hover a{
        color: white;
    }

    .nav1 {
        
        margin-left: 34rem;
        
    }
    
    /*-- get the page num side by side */
    .nav1 .nav-items{
        display:flex;
        margin:0;
        
    }
    .nav1 .nav-items .nav-link{
        content: center;
        padding:.7rem .7rem;
        margin-left: 1rem;
        position: relative;
        top:-5rem;
        font-size: 1.1rem;
        position:relative;
        font-family:var(--Josefi);
        font-size: 1.1rem;
        border-style: solid;
        border-width: medium;
        border-radius: 8px;
        border: 1px solid #E8EEE4;  
    }
    .nav1 .nav-items .nav-link1{
        background-color: #4895ef;
        content: center;
        padding:.7rem .7rem;
        margin-left: 1rem;
        position: relative;
        top:-5rem;
        font-size: 1.1rem;
        position:relative;
        font-family:var(--Josefi);
        font-size: 1.1rem;
        border-style: solid;
        border-width: medium;
        border-radius: 8px;
        border: 1px solid #E8EEE4;
    }
    .nav1 .nav-items .nav-link1 a{
        color:var(--white);
    }
    /*------when mouse click page num items, change bg color-----*/ 
    .nav1 .nav-items .nav-link:hover{
        background-color: #4895ef;
    }
        /*----whwhen mouse click page num items change text color(white)-----*/
    .nav1 .nav-items .nav-link:hover a{
        color: var(--white);
    }
/*-------x----when mouse click page num items, change bg color-------x-----*/
   


    /*-------x----------Blog Carousel--------x----------*/

/*--------------x------------Main Content----------x-------*/

/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background:rgb(27, 27, 27);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */


/*---------------Viewport less than or equal to 750px----------*/

@media only screen and (max-width:750px){
    /*when equal to 750px menu go to left side colum;(collapse)*/
    .nav .nav-menu, .nav .nav-items{
        flex-direction:column;
    }

    .nav .toggle-collapse{
        display:initial;
    }
}


/*--------x-------Viewport less than or equal to 750px----x-----*/
