style.css

/* Reset*/
{
  margiin:0;
  padding:0;
}

/* Whole Doc*/
body{
	
	font-family: sans-serif;

}

/* Navigation*/
nav{
	
	height:90px;
	background-color:#708090;
}

nav h1{

	position:absolute;
	width: 200px;
	top: 15px;
	left: 5%;
	color:#FFFFFF;
	text-transform: uppercase; 
}

nav ul{

	float:right;
	margin-right: 40px;
	list-style: none;
}

nav ul li{

	display: inline-block;
	line-height: 60px;
	margin: 0 15px;
    
}

nav ul li{

         position: relative;
         padding: 5px 0;
         color:#000000;
         font-size: 18px;
         text-decoration: none;
}

nav ul li a:hover{

	color:#000000;


}

label #s1, label #s2{

	font size: 30px;
	color:#000000;
	float: right;
	line-height: 90px;
	margin-right: 45px;
	cursor: pointer;
	display:none; 
}

#res-menu{

	display: none;
}

/* Banner*/
.banner-area{

	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,0.8295693277310925) 100%, rgba(0,212,255,1) 100%), url(./Dec-2-Celebrating-International-Human-Rights-Day-in-your-Class_web);
	background-size: cover;
	background-position: center center;
	height:100vh;
}

.banner-text{

	position: absolute;
	width: 100%;
	height:100%;
	display: flex;
	align-items:center;
	justify-content: center;
}

.banner-text h2{

         font-family: Arial,Hevetica,sans-serif;
         color: #FFFFFF;
         margin-top: -250px;
         font-size: 56px;
         text-align: center;
}

/* responsive */
@media(max-width: 800px){
  /*navigation*/
  label #s1{
     
     display: block;
    }

    nav ul{
    	position: fixed;
    	width: 100%;
    	height: 100vh;
    	background-color: #6495ED;
    	top: 50px;
    	left:-100%;
    	text-align: center;
    	transition: 0.5s;
    	z-index: 10;

    }

    nav ul li{
    	display: block;
    	margin: 40px 0;
    	line-height: 30px;
    }

    nav ul li a{

    	font-size: 16px;
    }

    /* for responsive state*/
    #res-menu:checked ~ ul{

    	left: 0;
    }

    #res-menu ~label #s1{

    	display: none;
    }

    #res-menu:checked ~ label #s2{

    	display: block;
    }

    /* Banner*/
    .baner-text h2{

    	font-size: 40px;
    }
}

